@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background: transparent;
}


::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cfcfcf; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #db8dff;
}